#control{
  .control{
    padding:10px 20px;
    
    label{
      display:block;
      padding-bottom:5px;
    }
  }
  
  .slider{
    width:200px;
  }
  
  .value{
    display:inline-block;
    font-size:80%;
    width:40px;
    color:#333;
    
    .label{
      padding-bottom:2px;
      color:#666;
    }
  }
}